#ListContainer {
    margin-top: 10%;
    margin-top: 10vh;
    padding: 20px;
    max-width: 1000px;
    background: rgba(212, 228, 239, 1);
    background: -moz-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(158, 204, 219, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(158, 204, 219, 1)));
    background: -webkit-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(158, 204, 219, 1) 100%);
    background: -o-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(158, 204, 219, 1) 100%);
    background: -ms-linear-gradient(left, rgba(212, 228, 239, 1) 0%, rgba(158, 204, 219, 1) 100%);
    background: linear-gradient(to right, rgba(212, 228, 239, 1) 0%, rgba(158, 204, 219, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e4ef', endColorstr='#9eccdb', GradientType=1);
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid #000000;
    -webkit-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 1px 18px 0px rgba(0, 0, 0, 0.7);
}

body {
    background: rgba(147, 206, 222, 1);
    background: -moz-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(42, 157, 189, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147, 206, 222, 1)), color-stop(41%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(42, 157, 189, 1)));
    background: -webkit-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(42, 157, 189, 1) 100%);
    background: -o-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(42, 157, 189, 1) 100%);
    background: -ms-linear-gradient(left, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(42, 157, 189, 1) 100%);
    background: linear-gradient(to right, rgba(147, 206, 222, 1) 0%, rgba(117, 189, 209, 1) 41%, rgba(42, 157, 189, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#93cede', endColorstr='#2a9dbd', GradientType=1);
}

.tablelist, .tablelist th, .tablelist td {
    border: solid #356599 1px;
}

.tablelist thead th {
    border-bottom: solid #356599 2px;
}