.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.pagination-cols {
  margin-bottom:20px;
}
.btn-primary {
  background-color: #33869a !important;
  border-color: #447784 !important;
}
.btn-primary:hover {
  background-color: #10404c !important;
}
/* .btn-normal {
  background-color:red !important;
} */
.btn-active {
  background-color:green !important;
}
.commentEdit, .commentSave {
  display:inline-block;
}
